altgraph==0.17.5
asgiref==3.11.1
audioop-lts==0.2.2
cffi==2.0.0
comtypes==1.4.16
Django==6.0.5
numpy==2.4.2
packaging==26.0
pefile==2024.8.26
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.2
pypiwin32==223
pyttsx3==2.99
pywin32-ctypes==0.2.3
setuptools==82.0.0
sounddevice==0.5.5
SpeechRecognition==3.14.5
sqlparse==0.5.5
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.15.0
tzdata==2026.2
wavio==0.0.9
