{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
</head>
<body>

<div style="text-align:center;">

    <img src="{% static image %}" width="250">

    <h2>{{ title }}</h2>

    <form method="POST" action="/save-order/">
        {% csrf_token %}

        <select name="size" required>
            <option value="">Select Size</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>

        <br><br>

        <input type="text" name="full_name" placeholder="Full Name" required><br><br>

        <textarea name="address" placeholder="Address" required></textarea><br><br>

        <input type="text" name="state" placeholder="State" required><br><br>

        <input type="text" name="pincode" placeholder="Pin Code" required><br><br>

        <input type="text" name="phone" placeholder="Phone Number" required><br><br>

        <button type="submit">Continue</button>

    </form>

</div>

</body>
</html>