<!DOCTYPE html>
<html>
<head>
    <title>Order Success</title>

    <style>
        body{
            font-family:Arial;
            background:#f5f5f5;
        }

        .box{
            width:500px;
            margin:100px auto;
            background:white;
            padding:30px;
            text-align:center;
            border-radius:10px;
            box-shadow:0 0 10px #ccc;
        }

        h1{
            color:green;
        }
    </style>
</head>
<body>

<div class="box">

    <h1>✓ Order Confirmed</h1>

    <h3>Thank you for shopping with FriendsShop</h3>

    <p>Your order will be delivered soon.</p>

</div>

</body>
</html>